<h1><%= @case.name %></h1>

<div class="alert alert-info" role="alert">
      <i class="fa fa-pencil"></i><span> Finde in <span class="startname"></span> <i class="fa fa-arrow-right"></i> <span class="helpingname"></span> den Namen <span class="goalname"></span></span>
</div>

<% unless flash[:error].blank? %>
    <div class="alert alert-danger" role="alert"><%= flash[:error] %></div>
<% end %>

<div class="test-mega">
    <nav class="megamenu">
      <ul class="layer-1">
        <li><span></span>
          <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </li>
        <li class="track-start"><span></span>
          <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li class="helping-element"><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li class="track-end"><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </li>
        <li><span></span>
          <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </li>
        <li><span></span>
          <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div>
        </li>
        <li><span></span>
        <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div></li>
        <li><span></span>
        <div class="mega">
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
            <ul class="layer-2">
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
              <li><span></span></li>
            </ul>
          </div></li>
      </ul>
    </nav>
</div>

<%= link_to "Fake test", tested_case_path(:time => 7723, :case_sheet => @sheet_number) %>