@-ms-viewport{
	width: device-width;
}

body {
	color: $dark-grey;
}
a {
	color: $blue;
}

h1 {
	border-bottom: 1px solid $grey;
	padding-bottom: 7px;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
}

h4 {
	border-top: 1px solid $grey;
	padding-top: 14px;
	padding-bottom: 5px;
	&:first-of-type{
		border-top: none;
	}
}

p {
	line-height: 30px;
}
@media(min-width: 1200px) {
	.container {
		width: 1230px;
	}
}

.show-with-javascript {
	display: none;
}

.btn {
	background: transparent;
	color: $blue;
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid $dark-grey;
	min-width: 130px;

	&:hover {
		color: $dark-grey;
		background: transparent;
	}
}

.fa-pencil {
	font-size: 32px;
	color: $dark-grey;
	margin-right: 10px;
}

.alert-info {
	background: $light-grey;
	color: $dark-grey;
	border: none;
	display: flex;
	align-items: center;
	font-size: 18px;
	line-height: 52px;

	.startname, .helpingname, .goalname {
		color: $red;
	}
}

.attr-form {
	margin-top: 35px;
}

.nasa {
	border-bottom: 1px solid $grey;
	&:last-of-type {
		border: none;
	}

	.nasa-question {
		height: 135px;
	}

	.regulator {
		margin-top: 49px;
		height: 80px;
		span {
			font-weight: bold;
			&:last-child {
				float:right;
				margin-top: -27px;
			}
		}
	}
}

header {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $grey;
	.row {
		position: relative;
	}
	.hci-logo {
		width: 8%;
		float: right;
	}

	.title {
		position:absolute;
		right: 117px;
		top: 48px;
		font-size: 21px;
		font-weight: bold;
	}
	@media(max-width: 555px) {
		.title {
			position: static;
		}
		.hci-logo {
			width: auto;
			height: 30px;;
			float: none;
		}
	}
}

form {
	label {
		font-weight: normal;
	}

	.form-control {
		padding: 0 9px;
		height: 30px;
	}

	.sibbling {
		padding-top: 10px;
	}

	.job {
		margin-bottom: 10px;
		width: 300px!important;
	}
	.additional {
		width: 300px!important;
	}

	.attrakdiff-row {
		margin: 8px 0;
		border-bottom: 1px solid $grey;
		&:last-of-type {
			border-bottom: none;
		}
		label {
			font-weight: bold;
			text-align: center;
		}
		.text-align {
			text-align: right,
		}
		input {
			margin: 0 15px;
		}
	}
}

.completed {
	font-size: 18px;
}



