body {
	color: $dark-grey;
}
a {
	color: $grey;
}

h1 {
	border-bottom: 1px solid $grey;
	padding-bottom: 7px;
	margin-bottom: 20px;
	display: flex;
}

h4 {
	border-top: 1px solid $grey;
	padding-top: 20px;
	padding-bottom: 5px;
	&:first-of-type{
		border-top: none;
	}
}

p {
	line-height: 30px;
}
.btn {
	background: $grey;
}

.glyphicon-pencil {
	font-size: 32px;
	color: $dark-grey;
}

.alert-info {
	background: $light-grey;
	border: none;
}

.nasa-question {
	height: 135px;
	border-bottom: 1px solid $grey;
}

.regulator {
	margin-top: 50px;
	height: 85px;
	border-bottom: 1px solid $grey;
	span {
		font-weight: bold;
		&:last-child {
			float:right;
			margin-top: -40px;
		}
	}
}

form {
	label {
		font-weight: normal;
	}

	.form-control {
		padding: 0 2px;
		height: 30px;
	}

	.sibbling {
		padding-top: 10px;
	}

	.job {
		margin-bottom: 10px;
		width: 300px!important;
	}
	.additional {
		width: 300px!important;
	}

	.attrakdiff-row {
		margin: 5px 0;
		border-bottom: 1px solid $grey;
		&:last-of-type {
			border-bottom: none;
		}
		label {
			font-weight: bold;
			text-align: center;
		}
		.text-align {
			text-align: right,
		}
		input {
			margin: 0 15px;
		}
	}
}
header {
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $grey;
	.row {
		position: relative;
	}
	.hci-logo {
		width: 8%;
		float: right;
	}

	.title {
		position:absolute;
		right: 117px;
		top: 48px;
		font-size: 21px;
	}
}



