<h1><%= @case.name %></h1>

<div class="alert alert-info" role="alert">
      <i class="fa fa-pencil"></i><span> Finde in <span class="startname"></span> <i class="fa fa-arrow-right"></i> <span class="helpingname"></span> den Namen <span class="goalname"></span></span>
    </div>
<div class="test-dropdown">
    <nav class="dropdown">
      <ul class="layer-1">
        <li class="category-1"><span></span>
          <ul class="layer-2">

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="category-1"><span></span>
          <ul class="layer-2">
            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
            <li class="category-2"><span></span></li>
          </ul>
        </li>


        <li class="category-1"><span></span>
          <ul class="layer-2">
            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
            <li class="category-2"><span></span></li>
          </ul>
        </li>

        <li class="category-1 track-start"><span></span>
          <ul class="layer-2">

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2 helping-element"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li class="track-end"><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>


        <li class="category-1"><span></span>
          <ul class="layer-2">

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>

            <li class="category-2"><span></span><i class="fa fa-chevron-right"></i>
              <div class="mega">
                <ul class="layer-3">
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                  <li><span></span></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>

        <li class="category-1"><span></span>
          <ul class="layer-2">
            <li class="category-2"><span></span></li>
            <li class="category-2"><span></span></li>
            <li class="category-2"><span></span></li>
            <li class="category-2"><span></span></li>
            <li class="category-2"><span></span></li>
          </ul>
        </li>

      </ul>
    </nav>
</div>

<%= link_to "Fake test", tested_case_path(:time => 7723, :case_sheet => @sheet_number) %>