<h1>Danke</h1>
<p class="completed">Vielen Dank, dass Du an meiner Umfrage teilgenommen hast. <i class="fa fa-smile-o"></i>
<br>
Solltest Du noch Fragen, Anregungen oder Interesse an den Ergebnissen haben, schicke mir gerne eine E-Mail an <a href="mailto:2demski@informatik.uni-hamburg.de">2demski@informatik.uni-hamburg.de</a>.
</p>