<h1>
  Aufgabenerklärung
  <%= render "layouts/wizard" %>
</h1>
<p>Die Aufgabenstellung wird folgendermaßen lauten:</p>
<div class="alert alert-info" role="alert">
  <span><i class="fa fa-pencil"></i> Klicke in <span class="startname">Damen </span> <i class="fa fa-arrow-right"></i> <span class="helpingname"> Kleider</span> auf den Menüpunkt <span class="goalname">Abendkleider</span></span>
</div>
<p> Du suchst also in dem Menü <b>Damen</b> nach dem Unterpunkt <b>Kleider</b> und dort wiederum den Menüpunkt <b>Abendkleider</b>. Auf diesen klickst Du, sobald Du ihn gefunden hast.
<br><br>
<b>Das hier ist nur ein Beispiel!</b>
<br>
 In der echten Versuchsdurchführung werden die Menüpunkte durch <span style="color:#e2001a;"> Namen </span>dargestellt. Du wirst jede Navigationsart mehrmals durchlaufen und während Du den entsprechenden Menüpunkt suchst, wird die Zeit gemessen. 
<br>
Viel Spaß dabei! 
</p>


<%= link_to "Weiter", test_case_path, class: "btn btn-default" %>