<h1>
  Aufgabenerklärung
  <%= render "layouts/wizard" %>
</h1>
<p>Die Aufgabenstellung wird folgendermaßen lauten:</p>
<div class="alert alert-info" role="alert">
	<i class="fa fa-pencil"></i>
	<span>Klicke in <span class="startname">Damen </span><i class="fa fa-arrow-right"></i> <span class="helpingname"> Kleider</span> auf den Menüpunkt <span class="goalname"> Abendkleider</span></span>
</div>
<p> Du suchst also in dem Menü Damen nach dem Unterpunkt Kleider und dort wiederum den Menüpunkt Abendkleider. Auf diesen klickst Du, sobald Du ihn gefunden hast.
<br>
In der echten Versuchsdurchführung werden die Menüpunkte durch Namen präsentiert. Du wirst jede Navigationsart mehrmals durchlaufen und während Du den entsprechenden Menüpunkt suchst, wird die Zeit gemessen. 
<br>
Viel Spaß dabei! 
</p>


<%= link_to "Weiter", test_case_path, class: "btn btn-default" %>