<h1>
  Aufgabenerklärung
  <%= render "layouts/wizard" %>
</h1>
<p>Die Aufgabenstellung wird folgendermaßen lauten:</p>
<div class="alert alert-info" role="alert">
	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
	<span>Klicke in Damen ->  Kleider auf den Menüpunkt Abendkleider<span>
</div>
<p> Du suchst also in dem Menü Damen nach dem Unterpunkt Kleider und dort wiederum den Menüpunkt Abendkleider. 
<br>
In der echten Versuchsdurchführung werden die Menüpunkte durch Namen präsentiert. Du wirst jede Navigationsart mehrmals durchlaufen und während Du den entsprechenden Menüpunkt suchst, wird die Zeit gemessen. 
<br>
Viel Spaß dabei! 
</p>


<%= link_to "Weiter", test_case_path %>