<h1>Navigation im Web</h1>
<p class="intro">Danke, dass du an meiner Studie teilnimmst!
Im Folgenden wirst du gebeten ein paar Informationen (Alter, Beruf…) über dich anzugeben. 
Danach kann es auch schon losgehen. Du wirst drei verschiedene Web-Navigationen testen, indem du kleine Aufgaben erfüllen musst. Nach jedem Durchlauf wirst du gebeten, einen kurzen Fragebogen ausfüllen.<br>
Die Sudie wird insgesamt ca. xx Minuten dauern.<br>
Bei Fragen oder Anregungen schicke mir gerne eine E-Mail: <a href="mailto: 2demski@informatik.uni-hamburg.de">2demski@informatik.uni-hamburg.de</a>
<br>
Viel Spaß dabei! :) </p>

<%= link_to "Los gehts", new_participant_path %>
