<h1>Navigation im Web</h1>

<p class="intro">Danke, dass Du an meiner Studie teilnimmst!
Im Folgenden wirst Du gebeten, ein paar Informationen (Alter, Beruf…) über Dich anzugeben. 
Danach kann es auch schon losgehen. Du wirst drei verschiedene Web-Navigationen testen, indem Du kleine Aufgaben erfüllen musst. Nach jedem Durchlauf wirst Du gebeten, einen kurzen Fragebogen auszufüllen.<br>
Die Sudie wird insgesamt ca. xx Minuten dauern.<br>
Bei Fragen oder Anregungen schicke mir gerne eine E-Mail: <a href="mailto: 2demski@informatik.uni-hamburg.de">2demski@informatik.uni-hamburg.de</a>
<br>
Viel Spaß dabei! :) </p>

<%= link_to "Los gehts", new_participant_path, class: "btn btn-default" %>
